body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E0DFD5;
  font-family: sans-serif;
}

#circle{
  position:absolute;
  transform:translate(-50%,-50%);
  height:20px;
  width:20px;
  border-radius:50%;
  border:2px solid green;
  z-index: 10;
}

#theme{
position:absolute;
transform:translate(-50%,-50%);
height:200px;
width:200px;
border-radius:10%;
background-color: EF6461;
top: 500px;
align-items: center;
justify-content: center;
display: flex;
font-size: 30;
z-index: -1;
}
